.registrationstep,.loginstep{
    display: none;
}
.add-btn a.add {
	border: none;
	border-radius: 5px;
	height: auto;
	width: auto;
	font-size: 15px;
	font-weight: 600;
	padding: 8px 10px 9px 9px;
	cursor: pointer;
	display: inline-block;
	outline: none;
	position: relative;
	transition: all 0.3s;
	vertical-align: middle;
	line-height: 18px;
	min-width: max-content;
}

.add-btn a.add::before {
    content: '';
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-right: 5px;
	position: relative;
	top: 3px;
    background-size: 15px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15' fill='none'%3E%3Cpath d='M7.5 4L7.5 11' stroke='%2300272B' stroke-linecap='round'/%3E%3Cpath d='M11 7.5L4 7.5' stroke='%2300272B' stroke-linecap='round'/%3E%3Cpath d='M-2.91169e-05 7.50003C-2.92976e-05 11.6355 3.36456 15 7.50014 15C11.6357 15 15.0002 11.6355 15.0002 7.50003C15.0002 3.36452 11.6357 -1.47071e-07 7.50014 -3.2784e-07C3.36456 -5.08612e-07 -2.89361e-05 3.36452 -2.91169e-05 7.50003ZM13.9735 7.50003C13.9735 11.0694 11.0696 13.9733 7.50014 13.9734C3.93069 13.9734 1.02675 11.0695 1.02668 7.50003C1.02675 3.93065 3.93069 1.02678 7.50021 1.02678C11.0695 1.02678 13.9735 3.93065 13.9735 7.50003Z' fill='%2300272B'/%3E%3C/svg%3E");
}
.appindex .main-logo-wrapper {
	min-height: 145px;
}
.getstartedindex .main-logo-wrapper {
	min-height: 20px;
}
.pw .btn-light:active, .pw .btn-light:focus,.pw .btn-light:hover {
	background-color: #fff !important;
	color: var(--body-color-dark) !important;
}
#bottom-sub-menu{
	transition: display 2s linear; 
}
.wallet-option .wallet-radio{
	display: none;
}
.wallet-option .wallet-radio:checked+label{
	color:var(--body-color-dark);
}
.wallet-option .wallet-radio:checked+label .icon{
	background-color: #8861DC;
}
.timeline-block .reminder-details-block .reminder-cards-wrapper{
	position:relative !important;
	width:auto !important;
	right:auto !important;
}
.content-bottom-bar {
	height: calc(100% - 95px);
}
.tablet-aside-bar {
	height: calc(100dvh - 268px);
}
.task-wallet-option:hover .icon,.task-wallet-option.active .icon{
	background-color: #8861DC;
} 
.task-mark-complete{
	background-color: #EEEEEE;
	color: #7B8283;
	padding: 8px 12px;
	border-radius: 8px;
	font-size: 8px;
	font-weight: 700;
	line-height: 1.5;
	text-decoration: none;
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	text-align: center;
	min-width: max-content;
}
.add-event-form-wrapper .profile-main-wrapper::after{
	display: none;
}
.task-content .options-item.has-icon .options-text {
	padding-left: 12px;
}
.task-card .task-content-wrapper, .task-card .task-content-wrapper .images-block {
	display: flex;
	align-items: start;
}
.calendar-setup.setup-status-wrapper .setup-status-block::before{
	display: none;
}
.dark-form input[type="date"]:focus, .dark-form input[type="text"]:focus, .dark-form input[type="email"]:focus, .dark-form input[type="password"]:focus, .dark-form input[type="number"]:focus, .dark-form select:focus {
	background-color: var(--body-color-light);
}
.dark-form input[type='date']:focus::placeholder,
.dark-form input[type='text']:focus::placeholder,
.dark-form input[type='email']:focus::placeholder, 
.dark-form input[type='password']:focus::placeholder,
.dark-form input[type='number']:focus::placeholder {
    color: var(--body-color-dark);
}